<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="online_chat_server.mapper.ContactMapper">

    <insert id="add">
        insert into contact (own, contact, state)
            values (#{own}, #{contact}, 0), (#{contact}, #{own}, 4);
    </insert>

    <select id="search" resultType="ContactItem">
        select c.id, u.id as uid, name, avatar, word, score, state, `read`
        from (select id, name, avatar, word from user where name like concat('%', #{keyword}, '%')) u,
             (select id, own, contact, score, state, `read` from contact) c
        where (c.own = #{id} and c.contact = u.id);   /*因为要在本人的好友里search*/
    </select>

    <select id="getAddList" parameterType="int" resultType="ContactItem">
        select contact.id as id, contact.contact as uid, score, state, name, avatar, word, password
        from contact, user
        where own = #{id}
          and state = 4
          and user.id = contact.contact;
    </select>

    <update id="changeState">
        update contact
        set state = #{state}
        where own = #{id} and contact = #{contact}
            or (own = #{contact} and contact = #{id});
    </update>

    <select id="list" parameterType="int" resultType="ContactItem">
        select contact.id as id, contact.contact as uid, score, state, news, contact.`read`, name, avatar, word, password
        from contact, user
        where contact.own = #{id}
          and contact.state = 1  # 已同意
          and contact.contact = user.id;
    </select>

    <update id="updateNews">
        update contact
        set news = #{news}, time = current_timestamp
        where own = #{id} or contact = #{id};
    </update>

    <update id="updateRead">
        update contact
        set `read` = #{bool}
        where own = #{id} and contact = #{contact};
    </update>

    <delete id="delete">
        delete from contact
        where own = #{id} and contact = #{contact}
            or (own = #{contact} and contact = #{id})
    </delete>

</mapper>