<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="online_chat_server.mapper.ContactMapper">

    <insert id="add">
        insert into contact (own, contact)
            value (#{own}, #{contact});
    </insert>

    <select id="search" resultType="ContactItem">
        select u.id, name, avatar, word, score, state
        from (select id, name, avatar, word from user where name like concat('%', #{keyword}, '%')) u,
             (select id, contact, score, state from contact) c
        where (u.id = c.id and c.contact = #{id})   /*因为要在本人的好友里search*/
           or (u.id = c.contact and c.id = #{id});
    </select>

    <select id="getAddList" parameterType="int" resultType="ContactItem">
        select own, score, state, name, avatar, word, password
        from contact, user
        where contact = #{id}
          and state = 0
          and user.id = contact.own;
    </select>

</mapper>