<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="online_chat_server.mapper.ImageMapper">

    <insert id="add">
        insert into image (path, uid)
        value (#{path}, #{uid});
    </insert>

    <select id="list" parameterType="int" resultType="String">
        select path
        from image
        where uid = #{uid};
    </select>

</mapper>