<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="online_chat_server.mapper.NewsMapper">

    <resultMap id="BaseResultMap" type="News">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="sender" jdbcType="INTEGER" property="sender" />
        <result column="receiver" jdbcType="INTEGER" property="receiver" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="word" jdbcType="VARCHAR" property="word" />
        <result column="time" jdbcType="TIMESTAMP" property="time" />
    </resultMap>

    <select id="getDialogue" resultMap="BaseResultMap">
        select distinct news.id, sender, receiver, content, word, news.time
        from news, contact
        where sender = #{id} and receiver = #{contact}
           or (sender = #{contact} and receiver = #{id}     # 对方未被我屏蔽才能接收到
                   and (contact.contact = #{contact}
                       and contact.own = #{id}
                       and contact.state != 3
                       )
               )
        ORDER BY time DESC; # 最近时间优先返回
    </select>

    <insert id="add" parameterType="News" keyProperty="id" useGeneratedKeys="true">
        insert into news (sender, receiver, content, word)
        VALUE (#{sender}, #{receiver}, #{content}, #{word});
    </insert>

</mapper>
